/* Ogólne ustawienia */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
    background-color: #f5f5f5;
}

img {
    max-width: 400px;
    height: 400px;
    border-radius: 8px;
    margin: 10px 0;
}

/* Nagłówek */
.site-header {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.site-header h1 {
    margin: 0;
    font-size: 2rem;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

/* Sekcje */
.content-box {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    color: rgb(204, 108, 231);
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

/* Stopka */
.site-footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
